html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

table tr:first-child{
  font-weight: bold;
}

td {
  white-space: pre;
  padding: 5px;
}

td, th {
  border: 1px solid black;
}
